<a href="https://colab.research.google.com/github/skultew/python-labs/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Document','what','you are reading',end='!!!!')

Document what you are reading!!!!

In [6]:
first_var = 5
second_var = 'Document'
print(f'{second_var} #{first_var}')

Document #5

In [10]:
name = input('What it your name? ')
print(name)

What it your name? Egor
Egor

In [11]:
type(name)

str

In [12]:
a = 5
type(5)

int

In [28]:
a = 'Egor'
b = 3
print(a*b)

EgorEgorEgor

In [33]:
a = int(input())
b = int(input())
print(a**b)

2
4
16

In [47]:
number1 = int(input('number1 ='))
number2 = int(input('number2 = '))
op = input('op =')
result = None
if op == '+':
  result = number1+number2
elif op == '-':
  result = number1*number2
elif op == '/':
  result = number1/number2
else:
  print('Cake is lie')
result_str = str(number1) + '+' + str(number2) + '=' + str(result)
print(result_str)

number1 =3
number2 = 5
op =*
Cake is lie
3+5=None

In [55]:
name = input('What is your name ')
age = input('What is your age? ')
if name == '' and age == '':
  print('No name and no age')
elif age == '':
  print('No age')
elif name == '':
  print('No name')
else: print('Thx')

What is your name Egor
What is your age?
No age

In [57]:
boolean_var_1 = True 
boolean_var_2 = False

In [59]:
boolean_var_1 or boolean_var_2

True

In [63]:
month = input('What month?\n ')
year = int(input('What year?\n '))
if month == 'January' or month == 'March' or month == 'May':
  print(31)
elif month == 'February' and year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
  print(29)
elif month == 'February' and not(year % 4 == 0 and year % 100 != 0 or year % 400 ==0):
  print(28)
else:
  print(30)

What month?
 April
What year?
 2000
30

In [ ]:
def function_name(argument1, argument2):

In [68]:
def line(x):
  global argument1
  argument1 = 3 +5
  y = 2 + 3 * x + 5 * argument2
  return y

argument1 = int(input('Write X'))
print(line(argument1))
print('-------------')
print(argument1)

Write X4
Write Z5
39

In [ ]:
print('Write X')

In [ ]:
x = int(input('Write X'))

line(x)